/* 

  COLORS: 
    PRIMARY: #002f32
    SECONDARY: #23e5db
    ACCENTS: #fcc419 #364fc7
  FONT(PX)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  SPACING SYSTEM(PX)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #002f32;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  height: 7.2rem;
}

.header-logo {
  color: #23e5db;
  text-decoration: none;
  font-size: 5rem;
  font-weight: 900;
  transform: translateY(0.3rem);
  font-family: 'Fredoka One', sans-serif;
}
.header-logo img {
  width: 10.5rem;
  height: 7.8rem;
}
.header-nav {
  display: flex;
  gap: 6.4rem;
  font-size: 1.8rem;
  list-style: none;
  color: #ffff;
  align-items: center;
  justify-content: center;
}
.header-langs {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
.header-langs span {
  margin: 1.8rem;
}

.header-nav li .icon-md {
  transform: translateX(6rem);
  width: 2.4rem;
  height: 2.4rem;
}

.icon-md {
  width: 2.4rem;
  height: 2.4rem;
}

.btn-cta span {
  padding: 1.2rem;
  text-decoration: none;
  transition: all 0.3s;
  border: 5px solid #fff;
  background-color: #fff;
  border-radius: 5%;
}

.btn-cta span:hover {
  background-color: #002628;
  color: #fff;
}

/* SEARCH BOX */
.section-search {
  padding: 4rem 0;
  background-color: #f2f4f5;
}

.search-box {
  display: grid;
  grid-template-columns: 3fr 1.5fr 0.8fr;
  column-gap: 0.1rem;
  justify-content: center;
  margin: 0 16rem;
  align-items: center;
  font-size: 2.4rem;
}

.search-location-dropdown,
.btn-search {
  padding: 2.4rem;
  width: 100%;
  border: none;
  height: 100%;
  background-color: #fff;
}
.input-container {
  display: flex;
}
.svg-icon {
  height: 100%;
  padding: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding-right: 0.3rem;
}
.search-input {
  padding: 2.85rem;
  width: 100%;
  border: none;
  height: 100%;
  background-color: #fff;
  padding-left: 0.7rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-location-dropdown {
  font-size: 1.6rem;
  text-align: left;
}

.btn-search {
  font-size: 1.8rem;
  transition: all 0.3s;
}

.btn-search:hover {
  background-color: #002f32;
  color: #ffff;
  cursor: pointer;
}
/* CATEGORY */

.section-categories-title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: 4.8rem;
}

.section-categories {
  padding: 3.2rem 30rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 1.6rem;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item span {
  font-size: 1.6rem;
  font-weight: inherit;
  margin-top: 1.6rem;
}

.category-circle {
  padding: 1.2rem;
  border-radius: 50%;
}

.category-circle-img {
  width: 6.4rem;
  height: 6.4rem;
}

.item:nth-child(1) .category-circle {
  background-color: #fcc419;
}
.item:nth-child(2) .category-circle {
  background-color: #364fc7;
}
.item:nth-child(3) .category-circle {
  background-color: #23e5db;
}
.item:nth-child(4) .category-circle {
  background-color: #f76707;
}
.item:nth-child(5) .category-circle {
  background-color: #c8f8f6;
}
.item:nth-child(6) .category-circle {
  background-color: #ffd6c9;
}
.item:nth-child(7) .category-circle {
  background-color: #2b2c2c;
}

/* PRODUCTS(PRODUCT CARD) */

.section-products-title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  transform: translateY(6.4rem);
}
.section-products {
  padding: 9.6rem 30.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.6rem;
  background-color: #f2f4f5;
}

.product-card {
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 1%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
}

.product-card-image {
  height: 60%;
  width: 100%;
}

.product-card-name {
  display: inline-block;
  font-size: 1.6rem;
}
/* Contacts */
.section-contacts {
  padding: 0.5rem 0;
  font-size: 1.8rem;
  background-color: #002f32;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}
.section-contacts p {
  font-weight: 700;
}
